<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/mydlnk_data_by_time/src/ddd_mining_connect_success/Ddd_connect_con.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ddd_mining_connect_success.Ddd_connect_con"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/home/hduser/Desktop/159/us_signal4_ddd_log_20150422.log /home/hduser/Desktop/159/testconsuccess3/"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="mydlnk_data_by_time"/>
</launchConfiguration>
