<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/hadooptest/src/mydlinktime2/TimeCon.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="mydlinktime2.TimeCon"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/home/hduser/Desktop/0619/agent_conn.log.1/agent_conn.log.1 /home/hduser/Desktop/test/230/"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="hadooptest"/>
</launchConfiguration>
